@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: 400;
}

h1, h2, h3 {
  color: hsl(0deg, 0%, 20%);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 5rem 0 2rem;
}

.section-title {
  font-size: 3rem;
  color: hsl(0deg, 0%, 20%);
}

.section-subtitle {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.button {
  display: inline-block;
  padding: 1.25rem 2rem;
  gap: 0.3rem;
  border-radius: 1rem;
  background-color: hsl(0deg, 0%, 20%);
  color: #fff;
  font-weight: 500;
}

.button--flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 5rem 0;
  }
  .section {
    padding: 2rem 0 4rem;
  }
}
@media screen and (max-width: 350px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}